body {
    padding: 20px;
    letter-spacing: 1px;
    background-color: coral;


  }
.inp{
  background-color: gray;
  text-align: center;
  text-decoration: red;
  
}
  .input1 {
    text-align: center;
    background-color: cadetblue;
  }
  
  .input {
     text-align: center;
  }
  .active {
    font-weight: bold;
  }
  
  .register-form {
    margin-top: 20px;
  }
  
  .form-details {
    margin-top: 20px;
  }
  
  .form-details > div {
    margin: 10px;
  }
  